.menu_fix {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.288);
            box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.288);
  }
  
  .menu_fix .menu_category:hover .main_drop_menu {
    visibility: visible;
    opacity: 1;
  }
  
  .menu_fix .menu_category .main_drop_menu {
    visibility: hidden;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
  }
  